@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

:root {
  --color-primary: #388697;
}

* {
    box-sizing: border-box;
    font-family: 'Oswald', 'Open Sans', sans-serif;
}

html, body {
    background-color: #F4F1DE;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}